<footer class="w-100 mt-3 d-flex align-items-center justify-content-around">
     

    <div class="texto1">
      Tutti - 2021 &copy; Todos os Direitos Reservados
    </div>
    <div class="texto1">
      Desenvolvido por Team-5
    </div>
  </footer>
  <script src="/public/javascripts/app.js"></script>