<body>
    <menu>
    <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#"> <img src="/images/Logo-8.png" class="img-fluid"   width="120px"  alt="...">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> <img src="/images/menu.png" class="img-fluid"   width="100px"  alt="..."></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Feira
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle text-justify" href="#">Frutas</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Abacate</a></li>
                          <li><a class="dropdown-item" href="#">Abacaxi</a></li>
                          <li><a class="dropdown-item" href="#">Azeitona</a></li>
                          <li><a class="dropdown-item" href="#">Açaí</a></li>
                          <li><a class="dropdown-item" href="#">Acerola</a></li>
                          <li><a class="dropdown-item" href="#">Ameixa</a></li>
                          <li><a class="dropdown-item" href="#">Amora</a></li>
                          <li><a class="dropdown-item" href="#">Amêndoa</a></li>
                          <li><a href="/mercadoA" style="color: rgb(1, 49, 1);">Ver Mais</a></li>
                          </ul>
                          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle text-justify" href="#">Legumes</a>
                              <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Abóbora</a></li>
                                  <li><a class="dropdown-item" href="#">Abobrinha</a></li>
                                  <li><a class="dropdown-item" href="#">Alcachofra</a></li>
                                  <li><a class="dropdown-item" href="#">Aspargos</a></li>
                                  <li><a class="dropdown-item" href="#">Aipim</a></li>
                                  <li><a class="dropdown-item" href="#">Berinjela</a></li>
                                  <li><a class="dropdown-item" href="#">Brócolis</a></li>
                                  <li><a class="dropdown-item" href="#">Batata</a></li>
                                  <li><a href="/mercadoB" style="color: rgb(1, 49, 1);">Ver Mais</a></li>
                                  </ul>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle " href="#">Verduras</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Agrião</a></li>
                      <li><a class="dropdown-item" href="#">Alface Crespa</a></li>
                      <li><a class="dropdown-item" href="#">Alface Americana</a></li>
                      <li><a class="dropdown-item" href="#">Almeirão</a></li>
                      <li><a class="dropdown-item" href="#">Alho-poró</a></li>
                      <li><a class="dropdown-item" href="#">Cebola</a></li>
                      <li><a class="dropdown-item" href="#">Chicória</a></li>
                      <li><a class="dropdown-item" href="#">Couve-flor</a></li>
                      <li><a href="mercadoC" style="color: rgb(1, 49, 1);">Ver Mais</a></li>
                      </ul>
                  </li>
                </ul>
              </li>
              <a class="nav-link" href="/contact">Contato</a>
              <a class="nav-link" href="/us">Sobre nós</a>
            </ul>
           
            <ul class="navbar-nav ml-auto">
              <form class="form-inline">
                <input class="form-control1 input-sm" type="search" placeholder="Procure nossos produtos aqui!" aria-label="Pesquisa">
                <button class="btn my-2 " type="submit"><img src="/images/Search.png" class="img-fluid"   width="20px"  alt="..."></button>
              </form>
              <% if (typeof user !== "undefined") { %>
                <li class="nav-item">
                  <a class="nav-link" href="/"></a>
                </li>
              <% } %>
            </ul>
            <ul class="navbar-nav ml-auto">
              <% if (typeof user !== "undefined") { %>
                <li class="nav-item">
                  <a href="/" class="nav-link">Olá, <%= user.name %></a>
                </li>
                <li class="nav-item">
                  <a href="/users/logout" class="nav-link">Sair</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a href="/users/create" class="nav-link">Cadastre-se</a>
                </li>
                <li class="nav-item">
                  <a href="/users/login" class="nav-link">Login</a>
                </li>
               <% } %>
            </ul>
           
        </nav>
      </menu>
 
      <header>