<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
<script defer src="/javascripts/carrousel.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  
  </head>
  <body>
  <menu>
  <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"> <img src="/images/Logo-8.png" class="img-fluid"   width="120px"  alt="...">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"> <img src="/images/menu.png" class="img-fluid"   width="100px"  alt="..."></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Feira
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Frutas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Abacate</a></li>
                        <li><a class="dropdown-item" href="#">Abacaxi</a></li>
                        <li><a class="dropdown-item" href="#">Azeitona</a></li>
                        <li><a class="dropdown-item" href="#">Açaí</a></li>
                        <li><a class="dropdown-item" href="#">Acerola</a></li>
                        <li><a class="dropdown-item" href="#">Ameixa</a></li>
                        <li><a class="dropdown-item" href="#">Amora</a></li>
                        <li><a class="dropdown-item" href="#">Amêndoa</a></li>
                        <li><a href="/mercadoA" style="color: rgb(1, 49, 1);">Ver Mais</a></li>
                        </ul>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Legumes</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Abóbora</a></li>
                                <li><a class="dropdown-item" href="#">Abobrinha</a></li>
                                <li><a class="dropdown-item" href="#">Alcachofra</a></li>
                                <li><a class="dropdown-item" href="#">Aspargos</a></li>
                                <li><a class="dropdown-item" href="#">Aipim</a></li>
                                <li><a class="dropdown-item" href="#">Berinjela</a></li>
                                <li><a class="dropdown-item" href="#">Brócolis</a></li>
                                <li><a class="dropdown-item" href="#">Batata</a></li>
                                <li><a href="/mercadoB" style="color: rgb(1, 49, 1);">Ver Mais</a></li>
                                </ul>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Verduras</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Agrião</a></li>
                    <li><a class="dropdown-item" href="#">Alface Crespa</a></li>
                    <li><a class="dropdown-item" href="#">Alface Americana</a></li>
                    <li><a class="dropdown-item" href="#">Almeirão</a></li>
                    <li><a class="dropdown-item" href="#">Alho-poró</a></li>
                    <li><a class="dropdown-item" href="#">Cebola</a></li>
                    <li><a class="dropdown-item" href="#">Chicória</a></li>
                    <li><a class="dropdown-item" href="#">Couve-flor</a></li>
                    <li><a href="mercadoC" style="color: rgb(1, 49, 1);">Ver Mais</a></li>
                    </ul>
                </li>
              </ul>
            </li>
            <a class="nav-link" href="/contact">Contato</a>
            <a class="nav-link" href="/us">Sobre nós</a>
          </ul>
            
          </ul>
          <form class="form-inline">
            <input class="form-control1 input-sm" type="search" placeholder="Procure nossos produtos aqui!" aria-label="Pesquisa">
            <button class="btn my-2 " type="submit"><img src="/images/Search.png" class="img-fluid"   width="20px"  alt="..."></button>
          </form>
          <a class="user" href="/login"><img src="/images/Ativo 1-8.png" class="img-fluid"   width="30px"  alt="..."></a>
          <a class="cart" href="cart"><img src="/images/CART.png" class="img-fluid"   width="35px"  alt="..."></a>
        </div>
      </nav>
    </menu>
    <header>