<div class="wpp">
      <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5500000000000">
        <img src="/images/wpp.png" width="50" height="50" alt="" style="position:fixed;bottom:20px;right:30px; z-index: 1;" >
    </a> 
</div>

    
