<%- include('./partials/head'); %>  
<%- include('./partials/header'); %> 

    <main style="margin-bottom: 190px; margin-top: 6rem;">
          <div class="container">
            <div class="row" style="align-items: center; font-size: 40px; color: #ffa500;">
              <div class="col-sm">
                <img src="/images/confirm.png" class="img-fluid" style="align-items:center; width: 400px;" alt="..."  >
              </div>
              <div class="col-sm">
                Seu pedido foi realizado com sucesso ;)
              </div>
            </div>

           
          </div>
          
</main>

     
<%- include('./partials/wpp') %> 
<%- include('./partials/footer') %> 