<%- include('./partials/head'); %>  
<%- include('./partials/header'); %> 

<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 50px;" >
            <div class="error-template ">
                <p class="text-xl-left" style="color:rgb(49, 49, 49); font-size: 4rem;">
                    Oops! :(</p>
                <p class="text-xl-left" style="color:rgb(49, 49, 49); font-size: 4rem;">
                    Produto não encontrado</p>
                <div>
                    <a href="/"><button type="submit" class="btn btn-primary">Ir para Home</button></a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/wpp') %> 
<%- include('./partials/footer') %> 
</body>
</html>