
<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  


    <main>
      <div class="container" style="background-color: #BAD6AB;">
        <div class="row">
          <div class="col-sm" id="receitadebanana">
            <h1>Doce de Banana</h1>
              <p class="text-left">4 bananas</p>
              <p class="text-left"> 1/3 xícara (chá) de mel</p>
              <p class="text-left">suco de 1/2 limão</p>
              
              <h4>MODO DE PREPARO:</h4>
              
              <p class="text-left">1- Descasque as bananas, corte em rodelas e amasse com um garfo ou esmagador.</p>
              
              <p class="text-left">2- Despeje em uma panela funda e acrescente o mel e o suco de limão. Siga mexendo sem parar até começar a dourar e chegar no ponto que deseja.</p>
              
              <p class="text-left">3- Espere esfriar e coloque em vidrinhos.</p>
          </div>
          <div class="col-sm">
            <img src="/images/docedebanana.png" class="img-fluid" width="900px" alt="...">
          </div>
    </main>
    <%- include('./partials/wpp') %> 
    <%- include('./partials/footer') %> 
  </body>
  </html>
   