<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
  <menu>
  <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">  <img src="/images/Logo-8.png" class="img-fluid"   width="120px"  alt="...">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"> <img src="/images/menu.png" class="img-fluid"   width="100px"  alt="..."></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Feira
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Frutas</a>
                <a class="dropdown-item" href="#">Verduras</a>
                <a class="dropdown-item" href="#">Legumes</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/us">Sobre nós</a>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control1 input-sm"  type="search" placeholder="Procure nossos produtos aqui!" aria-label="Pesquisa">
            <button class="btn my-2 " type="submit"><img src="/images/Search.png" class="img-fluid"   width="20px"  alt="..."></button>
          </form>
          <a class="user" href="/views/login.ejs"><img src="/images/Ativo 1-8.png" class="img-fluid"   width="30px"  alt="..."></a>
          <a class="cart" href="#"><img src="/images/CART.png" class="img-fluid"   width="35px"  alt="..."></a>
        </div>
      </nav>
    </menu>
    <header>
     <img src="/images/linha.png" class="img-fluid" width="1900px"  alt="...">
      <a class="banner" href="#"><img src="/images/banner.png" class="img-fluid rounded-lg" width="1900px"  alt="..."></a>
    </header>
    <main>
      <div class="row">
        <div class="col-6">
         <a href="#"><img src="/images/promo.png" class="img-fluid" width="500px"  alt="..."></a>
        </div>
        <div class="col-6 pl-5">
                  <div class="col-12 text-right">
                      <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                          <i class="fa fa-arrow-left"></i>
                      </a>
                      <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                          <i class="fa fa-arrow-right"></i>
                      </a>
                  </div>
                  <div class="col-6">
                      <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
          
                          <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <div class="row">
          
                                      <div class="col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="..." src="images/maça.png">
                                              <div class="card-body">
                                                  <h4 class="card-title text-center">Maça</h4>
                                                  <h6 class="card-title text-center">De R$3,99 kg</h6>
                                                  <h6 class="card-text text-center">Por R$2,99 kg</h6>
                                              </div>
          
                                          </div>
                                      </div>
                                      <div class="col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="..." src="images/abobora.png">
                                              <div class="card-body">
                                                  <h4 class="card-title text-center">Abobora</h4>
                                                  <h6 class="card-title text-center">De R$5,99 kg</h6>
                                                  <h6 class="card-text text-center">Por R$2,99 kg</h6>
          
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="..." src="images/acelga.png">
                                              <div class="card-body">
                                                  <h4 class="card-title text-center">Acelga</h4>
                                                  <h6 class="card-title text-center">De R$4,99 kg</h6>
                                                  <h6 class="card-text text-center">Por R$2,99 kg</h6>
          
                                              </div>
                                          </div>
                                      </div>
          
                                  </div>
                              </div>
                              <div class="carousel-item">
                                  <div class="row">
          
                                      <div class="col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="..." src="images/goiaba.png">
                                              <div class="card-body">
                                                  <h4 class="card-title text-center">Goiaba</h4>
                                                  <h6 class="card-title text-center">De R$3,99 kg</h6>
                                                  <h6 class="card-text text-center">Por R$2,99 kg</h6>
          
                                              </div>
          
                                          </div>
                                      </div>
                                      <div class="col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="..." src="images/beterraba.png">
                                              <div class="card-body">
                                                  <h4 class="card-title text-center">Beterraba</h4>
                                                  <h6 class="card-title text-center">De R$3,99 kg</h6>
                                                  <h6 class="card-text text-center">Por R$5,99 kg</h6>
          
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="..." src="images/brocoli.png">
                                              <div class="card-body">
                                                  <h4 class="card-title text-center" >Brocoli</h4>
                                                  <h6 class="card-title text-center">De R$5,99 kg</h6>
                                                  <h6 class="card-text text-center">Por R$2,99 kg</h6>
                                              </div>
                                          </div>
                                      </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </section>
         </div>
       
    </main>
    <div class="banner1">
      <a href="#"><img src="/images/banner2.png" class="img-fluid" width="1880px"  alt="..."></a>
    </div>
    <div class="banner3">
      <a href="#"><img src="/images/banner3.png" class="img-fluid" width="1880px"  alt="..."></a>
    </div>
       <a href="https://api.whatsapp.com/send?phone=5519999999999&text=Texto%20aqui"
    target="_blank" style="position:fixed;bottom:20px;right:30px;">
    <svg enable-background="new 0 0 512 512" class="img-fluid" width="50" height="50" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z" fill="#4CAF50"/><path d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z" fill="#FAFAFA"/></svg>
       </a>
       <footer class="w-100 mt-5 d-flex align-items-center justify-content-around">
        <div class="icons">
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook-square"></i>
        </div>

        <div class="texto1">
          Tutti - 2021 &copy; todos os direitos reservados
        </div>
        <div class="texto1">
          Desenvolvido por Team-5
        </div>
      </footer>
  </body>
  </html>
   