<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  

    <main>
      <div class="container" style="background-color: #BAD6AB;">
        <div class="row">
          <div class="col-sm" id="receitadebanana">
            <h1>Purê de Abóbora</h1>
            <h2>Ingredientes:</h2>
              <p class="text-left">500 g de abóbora moranga;</p>
              <p class="text-left">6 colheres de sopa de leite desnatada;</p>
              <p class="text-left">1/2 colher de sopa de manteiga;</p>
              <p class="text-left">Sal, noz moscada e pimenta do reino ao gosto. </p>
              
              <h4>MODO DE PREPARO:</h4>
              
              <p class="text-left">Cozinhar a abóbora e amassar com um garfo. Adicionar o leite desnatado e o sal,
              
              noz moscada e pimenta e misturar bem. Levar para o fogo juntamente com 2 colheres
              
              de sopa de cebola picada e refogada no azeite. Se utilizar abóbora cabotian, adicionar apenas 2 colheres de sopa de leite desnatada.</p>

          </div>
          <div class="col-sm">
            <img src="/images/pure.png" class="img-fluid" width="900px" alt="...">
          </div>
    </main>
    <%- include('./partials/wpp') %> 
    <%- include('./partials/footer') %> 
  </body>
  </html>
   