<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  
      <header>
        <img src="/images/repolho.png" class="img-fluid" style="border-radius: 50px;" alt="...">
      </header>
      <main>
        <div class="container">
          <div class="row">
            <div class="col-sm" id="feira">
              <div class="row">
                  <div class="col">
                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                          </div>
                        </div>
                  </div>
                  <div class="col">
                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
            <div class="col-sm" id="feira">
              <div class="row">
                  <div class="col">
                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                          </div>
                        </div>
                  </div>
                  <div class="col">
                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm" id="feira">
                  <div class="row">
                      <div class="col">
                          <div class="card text-center" style="width: 9rem; height: 9rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text" id="preço" style="color: black;">Maça</p>
                                <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                              </div>
                            </div>
                      </div>
                      <div class="col">
                          <div class="card text-center" style="width: 9rem; height: 9rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text" id="preço" style="color: black;">Maça</p>
                                <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                              </div>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm" id="feira">
                  <div class="row">
                      <div class="col">
                          <div class="card text-center" style="width: 9rem; height: 9rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text" id="preço" style="color: black;">Maça</p>
                                <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                              </div>
                            </div>
                      </div>
                      <div class="col">
                          <div class="card text-center" style="width: 9rem; height: 9rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text" id="preço" style="color: black;">Maça</p>
                                <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                              </div>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm" id="feira">
                      <div class="row">
                          <div class="col">
                              <div class="card text-center" style="width: 9rem; height: 9rem;">
                                  <img src="..." class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text" id="preço" style="color: black;">Maça</p>
                                    <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                    <a href="#" class="btn btn-primary">Comprar</a>
                                  </div>
                                </div>
                          </div>
                          <div class="col">
                              <div class="card text-center" style="width: 9rem; height: 9rem;">
                                  <img src="..." class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text" id="preço" style="color: black;">Maça</p>
                                    <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                    <a href="#" class="btn btn-primary">Comprar</a>
                                  </div>
                                </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm" id="feira">
                      <div class="row">
                          <div class="col">
                              <div class="card text-center" style="width: 9rem; height: 9rem;">
                                  <img src="..." class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text" id="preço" style="color: black;">Maça</p>
                                    <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                    <a href="#" class="btn btn-primary">Comprar</a>
                                  </div>
                                </div>
                          </div>
                          <div class="col">
                              <div class="card text-center" style="width: 9rem; height: 9rem;">
                                  <img src="..." class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text" id="preço" style="color: black;">Maça</p>
                                    <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                    <a href="#" class="btn btn-primary">Comprar</a>
                                  </div>
                                </div>
                          </div>
                        </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm" id="feira">
                          <div class="row">
                              <div class="col">
                                  <div class="card text-center" style="width: 9rem; height: 9rem;">
                                      <img src="..." class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text" id="preço" style="color: black;">Maça</p>
                                        <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                      </div>
                                    </div>
                              </div>
                              <div class="col">
                                  <div class="card text-center" style="width: 9rem; height: 9rem;">
                                      <img src="..." class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text" id="preço" style="color: black;">Maça</p>
                                        <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                      </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm" id="feira">
                          <div class="row">
                              <div class="col">
                                  <div class="card text-center" style="width: 9rem; height: 9rem;">
                                      <img src="..." class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text" id="preço" style="color: black;">Maça</p>
                                        <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                      </div>
                                    </div>
                              </div>
                              <div class="col">
                                  <div class="card text-center" style="width: 9rem; height: 9rem;">
                                      <img src="..." class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text" id="preço" style="color: black;">Maça</p>
                                        <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                      </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col-sm" id="feira">
                              <div class="row">
                                  <div class="col">
                                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                                          <img src="..." class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="col">
                                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                                          <img src="..." class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm" id="feira">
                              <div class="row">
                                  <div class="col">
                                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                                          <img src="..." class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="col">
                                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                                          <img src="..." class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99</p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                            </div>
      </div>
    </main>
    <%- include('./partials/wpp') %> 
    <%- include('./partials/footer') %> 
</body>
</html>