<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  
      <header>
        <img src="/images/limao1.png" class="img-fluid" style="border-radius: 50px;" alt="...">
      </header>
      <main>
        <div class="container">
          <div class="row" id="feira">
            <div class="col-sm" id="feira">
              <div class="row">
                  <div class="col">
                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                          <img src="images/maça1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text" id="preço" style="color: black;">Maça</p>
                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99 Kg</p>
                            <a href="cart" class="btn btn-primary">Comprar</a>
                          </div>
                        </div>
                  </div>
                  <div class="col">
                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                          <img src="images/morango.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text" id="preço" style="color: black;">Morango</p>
                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">5,99 Kg</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
            <div class="col-sm" id="feira">
              <div class="row">
                  <div class="col">
                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                          <img src="images/cereja.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text" id="preço" style="color: black;">Cereja</p>
                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">49,99 Kg</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                          </div>
                        </div>
                  </div>
                  <div class="col">
                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                          <img src="images/amora.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text" id="preço" style="color: black;">Amora</p>
                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">34,99 Kg</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm " id="feira">
                  <div class="row">
                      <div class="col">
                          <div class="card text-center" style="width: 9rem; height: 9rem;">
                              <img src="images/melancia.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text" id="preço" style="color: black;">Melancia</p>
                                <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">9,99 Un</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                              </div>
                            </div>
                      </div>
                      <div class="col">
                          <div class="card text-center" style="width: 9rem; height: 9rem;">
                              <img src="images/abacate.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text" id="preço" style="color: black;">Abacate</p>
                                <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99 Kg</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                              </div>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm" id="feira">
                  <div class="row">
                      <div class="col">
                          <div class="card text-center" style="width: 9rem; height: 9rem;">
                              <img src="images/kiwi.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text" id="preço" style="color: black;">Kiwi</p>
                                <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">23,99 Kg</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                              </div>
                            </div>
                      </div>
                      <div class="col">
                          <div class="card text-center" style="width: 9rem; height: 9rem;">
                              <img src="images/papaya.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text" id="preço" style="color: black;">Mamão</p>
                                <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">5,99 Kg</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                              </div>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm" id="feira">
                      <div class="row">
                          <div class="col">
                              <div class="card text-center" style="width: 9rem; height: 9rem;">
                                  <img src="images/coco.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text" id="preço" style="color: black;">Coco</p>
                                    <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">2,99 Un</p>
                                    <a href="#" class="btn btn-primary">Comprar</a>
                                  </div>
                                </div>
                          </div>
                          <div class="col">
                              <div class="card text-center" style="width: 9rem; height: 9rem;">
                                  <img src="images/pecego.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text" id="preço" style="color: black;">Pêssego </p>
                                    <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">7,99 Kg</p>
                                    <a href="#" class="btn btn-primary">Comprar</a>
                                  </div>
                                </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm" id="feira">
                      <div class="row">
                          <div class="col">
                              <div class="card text-center" style="width: 9rem; height: 9rem;">
                                  <img src="images/maçaverde.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text" id="preço" style="color: black; font-size: 18px!important;">Maça verde</p>
                                    <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">13,99 Kg</p>
                                    <a href="#" class="btn btn-primary">Comprar</a>
                                  </div>
                                </div>
                          </div>
                          <div class="col">
                              <div class="card text-center" style="width: 9rem; height: 9rem;">
                                  <img src="images/uva.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text" id="preço" style="color: black;">Uva</p>
                                    <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">6,99 Kg</p>
                                    <a href="#" class="btn btn-primary">Comprar</a>
                                  </div>
                                </div>
                          </div>
                        </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm" id="feira"> 
                          <div class="row">
                              <div class="col">
                                  <div class="card text-center" style="width: 9rem; height: 9rem;">
                                      <img src="images/manga.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text" id="preço" style="color: black;">Manga</p>
                                        <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">5,99 Kg</p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                      </div>
                                    </div>
                              </div>
                              <div class="col">
                                  <div class="card text-center" style="width: 9rem; height: 9rem;">
                                      <img src="images/limao.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text" id="preço" style="color: black;">Limão</p>
                                        <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">2,99 Kg</p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                      </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm" id="feira">
                          <div class="row">
                              <div class="col">
                                  <div class="card text-center" style="width: 9rem; height: 9rem;">
                                      <img src="images/abacaxi.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text" id="preço" style="color: black;">Abacaxi</p>
                                        <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">3,99 Un</p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                      </div>
                                    </div>
                              </div>
                              <div class="col">
                                  <div class="card text-center" style="width: 9rem; height: 9rem;">
                                      <img src="images/ameixa.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text" id="preço" style="color: black;">Ameixa</p>
                                        <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">25,99</p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                      </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col-sm" id="feira">
                              <div class="row">
                                  <div class="col">
                                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                                          <img src="images/orange.png" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <p class="card-text" id="preço" style="color: black;">Laranja</p>
                                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">2,99 Kg</p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="col">
                                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                                          <img src="images/banana1.png" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <p class="card-text" id="preço" style="color: black;">Banana</p>
                                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">2,99 Kg</p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                            </div> 
                            <div class="col-sm" id="feira">
                              <div class="row">
                                  <div class="col">
                                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                                          <img src="images/goiaba1.png" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <p class="card-text" id="preço" style="color: black;">Goiaba</p>
                                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">4,99 Kg</p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="col">
                                      <div class="card text-center" style="width: 9rem; height: 9rem;">
                                          <img src="images/pera.png" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <p class="card-text" id="preço" style="color: black;">Pêra</p>
                                            <p class="card-text" id="preço" style="color: rgb(70, 69, 69);">6,99</p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                            </div>
      </main>
      </div>
      <%- include('./partials/wpp') %> 
      <%- include('./partials/footer') %> 
</body>
</html>