<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  
<header>
  <p class="text-center">Receitas da semana</p>
</header>

<main>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="frutas">
            <p class="card-text">Receita de frutas</p>
        <a href="fruta"><img src="images/banana.png" class="card-img-top" alt="..."></a>  
          <div class="card-body">
           
          </div>
        </div>
      </div>
    </div>
      <div class="col-sm">
        <div class="card" >
          <div class="Legumes">
            <p class="card-text">Receita de legumes</p>
         <a href="legumes"><img src="images/moranga.png" class="card-img-top" alt="..."></a> 
          <div class="card-body">
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
        <div class="verduras">
          <p class="card-text">Receita de Verduras</p>
          <a href="verduras"><img src="images/brocolis.png" class="card-img-top" alt="..."></a> 
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<main class="container">
  <div class="row">
    <div class="col-12">
   
     <a href="/contact"><p class="align-items-center" style="color: white!important;">  Caso você tenha uma receita, entre em contato conosco! </p></a>
  </main>



  <%- include('./partials/wpp') %> 
  <%- include('./partials/footer') %> 
</body>
</html>