<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  

    <main>
  
        <div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-center" id="contact">Tutti sobre a Tutti</p>
            </div>
          </div>
        </div>
    
      <div>
        <div class="row">
          <div class="col-sm-6" >
              <p class="text-left" style="font-size: 23px;font-family: 'Franklin Gothic Medium'; padding-bottom: 5px;"id="text_us">
              A Tutti é uma empresa com valores no desenvolvimento sustentável, uso e manejo consciente da terra e na redução da emissão de carbono na atmosfera.
              Atuamos conectando pequenos produtores familiares com consumidores que reconhecem a importância da preservação do meio ambiente se tornando assim o elo perfeito entre o campo e a cidade, garantindo produtos frescos à mesa dos brasileiros das grandes metrópoles de um lado, ao mesmo tempo que garantimos renda extra aos produtores do campo. </p>

          </div>
          <div class="col-sm-12">
            <img src="images\us.png" class="img-fluid" alt="Agricultores Colhendo" >
          </div>
    </main>

    <%- include('./partials/wpp') %> 
    <%- include('./partials/footer') %> 
  </body>
  </html>
   
