<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  

    <main>
      <div class="container" style="background-color: #BAD6AB;">
        <div class="row">
          <div class="col-sm" id="receitadebanana">
            <h1>Brócolis Gratinado</h1>
            <h2>Ingredientes:</h2>
              <p class="text-left">1 brócolis de aproximadamente 800 g;</p>
              <p class="text-left">2 l de água;</p>
              <p class="text-left">2 colheres de sopa de manteiga;</p>
              <p class="text-left">2 dentes de alho amassados;</p>
              <p class="text-left">1 cebola média ralada;</p>
              <p class="text-left">2 colheres de sopa de farinha de trigo;</p>
              <p class="text-left">2 1/2 xícaras de leite;</p>
              <p class="text-left">Sal e pimenta - do - reino a gosto;</p>
              <p class="text-left">150 g de requeijão cremoso de saquinho;</p>
              <p class="text-left">1 caixa de 200 g de creme de leite</p>
              <p class="text-left">Queijo parmesão ralado grosso a gosto (comprado de pedaço)</p>
              <h4>MODO DE PREPARO:</h4>
              
              <p class="text-left">
                Em uma panela grande, coloque a água com o açúcar e leve para ferver.
                Quando estiver fervendo, coloque o brócolis inteiro com a parte dos talos virada para baixo e deixe cozinhar por aproximadamente dez minutos, vire de cabeça para baixo e deixe por mais dois minutos (não pode ficar muito mole).
                Depois passe na água fria, corte os talos separando os buquês, arrume em um refratário e reserve.
                Em uma panela, coloque a manteiga e deixe derreter.
                Junte o alho, a cebola e deixe dourar bem.
                Adicione a farinha de trigo e mexa bem para fritar um pouco.
                Depois junte o leite, aos poucos, mexendo sempre, coloque os temperos e deixe engrossar.
                Junte o requeijão misturando bem, desligue o fogo e acrescente o creme de leite.
                Jogue esse molho em cima dos buquês.
                Polvilhe com bastante queijo por cima.
                Leve ao forno à duzentos graus para gratinar e deixe o queijo dourar bem</p>

          </div>
          <div class="col-sm">
            <img src="/images/gratinado.png" class="img-fluid" width="900px" alt="...">
          </div>
    </main>
  
    <%- include('./partials/wpp') %> 
    <%- include('./partials/footer') %> 
  </body>
  </html>
   