body {
  padding: 10px;
  font-size:30px  ;
  font-family: Franklin Gothic Medium;
}

menu{
margin-top: -20px;
}

a {
  color:orange;
}

.form-control{
  background: transparent;
  border: none;
  border-bottom: 3px solid orange;
}

.form-inline{
  margin-right: 50px;
  margin-top: 10px;
  position: relative;
}

.input {
  width: auto;
}
.user{
  margin-top: -20px;
margin-right: 40px;
}

a:hover{
color: #036838;

}

.navbar-nav .dropdown-menu {
  background-color: orange;
}


.navbar-nav .dropdown-menu a{
 color: white;
}


.navbar-nav .dropdown-menu a:hover{
  color: #036838;
 }

 header{
   margin-top: -40px;
 }

 .col-6{
   margin-top: 10px;
   margin-left: 0px;
   margin-right: 0px;
   padding-right: 0%;
   margin-bottom: 10px;
 }
 footer {
  height: 100px;
  position: relative;
  background-color: #C6FFB1;
}

footer.icons {
  font-size: 20px;
  background-color: orange;
  position: relative;
}

.texto1{
  font-size: 17px;
}

.col-12{
  margin-top: 20px;
  position: relative;
}

.banner3{
  margin-top: 10px;
}