body {
  padding: 10px;
  font-size:20px  ;
  font-family: Franklin Gothic Medium;
}

menu{
margin-top: -20px;
}

a {
  color:orange;
}

.form-control1{
  background: transparent;
  border: none;
  border-bottom: 3px solid orange;
}

.form-inline{
  margin-right: 50px;
  margin-top: 10px;
  position: relative;
}

.input {
  width: auto;
}
.user{
margin-top: -20px;
margin-right: 40px;
}

.cart{
  margin-top: -20px;
margin-right: 60px;
}

a:hover{
color: #036838;

}

.navbar-nav .dropdown-menu {
  background-color: orange;
}


.navbar-nav .dropdown-menu a{
 color: white;
}


.navbar-nav .dropdown-menu a:hover{
  color: #036838;
 }

 header{
   margin-top: -40px;
 }

 .col-6{
   margin-top: 10px;
   margin-left: 0px;
   margin-right: 0px;
   padding-right: 0%;
   margin-bottom: 10px;
 }
 footer {
  height: 100px;
  position: relative;
  background-color: #C6FFB1;
}

footer.icons {
  font-size: 20px;
  background-color: orange;
  position: relative;
}

.texto1{
  font-size: 17px;
}

.col-12{
  margin-top: 20px;
  position: relative;
}

.banner3{
  margin-top: 10px;
}

.banner{
  border-radius: 50px;
}

#texto {
  position: absolute;
  margin-top: -30px;
  }

.login{
  background-color: #EFBD8C;
}



.usuario{
  color: white;
  font-family: Franklin Gothic Medium;
}
.btn0 {
  font-family:  Franklin Gothic ;
  font-size: 20px;
  font-style: bold;
  color: #1e7e34;
  background-color: #FA8B2E;
  border-color: #FA8B2E;
  align-items: center;
}



.row{
  float:center;
}

.btn1{
background-color:#1e7e34;
border: #1e7e34;
color: white;
}

body.login {
  height:  800px;
}

html.login{
  height: 800px;
}

.mx-auto{
  padding-left: 42px;
}

.col-md-4 mb-3{
margin-top: 10px;
margin-left: 15px;
}

.col-6{
  padding-right: 1%;
  max-width: 100%;
  padding-bottom: 0%;
}

.btn-primary {
  color: #fff;
  background-color: #f89606;
  border-color: #f89606;
}



.frutas{
  background-color: #F9E898;
  border-radius: 20px;
}

.Legumes{
  background-color: #f8cc89e8;
  border-radius: 20px;
}

.verduras{
background-color: #E2EB93;
border-radius: 20px;

} 

.card p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 34px;
  color: white;
  margin-top: 20px;
}


.card{
  border-radius: 20px;
  margin-top: 10pt;
}

.col-12{
  background-color: orangered;
border-radius: 30px;
  align-items: center;
  color: white;
}

p{
  text-align: center;
  margin-top: 5pt;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

.rounded{
  border-radius: 50px;
}