<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  
    <title>Receitas</title>
    <main class="container">

</head>
<body>
    <menu>
        <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#">  <img src="/images/Logo-8.png" class="img-fluid"   width="120px"  alt="...">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> <img src="/images/menu.png" class="img-fluid"   width="100px"  alt="..."></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                  </li>
        
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Feira
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Frutas</a>
                      <a class="dropdown-item" href="#">Verduras</a>
                      <a class="dropdown-item" href="#">Legumes</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nós</a>
                  </li>
                </ul>
                <form class="form-inline">
                  <input class="form-control input-sm"  type="search" placeholder="Procure nossos produtos aqui!" aria-label="Pesquisa">
                  <button class="btn my-2 " type="submit"><img src="/images/Search.png" class="img-fluid"   width="20px"  alt="..."></button>
                </form>
                <a class="user" href="#"><img src="/images/Ativo 1-8.png" class="img-fluid"   width="30px"  alt="..."></a>
                <a class="user" href="#"><img src="/images/CART.png" class="img-fluid"   width="35px"  alt="..."></a>
              </div>
            </nav>
          </menu>
         <main class="container">
          <section class="receitas" id="receitas">
            <h2>Receitas</h2>
            <p>Receitas que cabem no seu Bolso</p>
            <div class="card-group">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Doce de Banana</h5>
                  <p class="card-text">Com quatro ingredientes, você faz este delicioso doce de banana. Ideal para ser servido em um café da manhã ou lanche da tarde com pãezinhos e torradas, esta receita vai fazer sucesso em sua casa.
                    Ingredientes
                    5 bananas prata maduras
                    Três quartos de uma xícara de chá de açúcar cristal
                    1 colher de chá de suco de limão
                    1 pitada de canela em pó
                    Modo de Preparo
                    1. Corte picadinho ou amasse as bananas.
                    2. Coloque em uma panela as bananas e o açúcar.
                    3. Siga mexendo sem parar.
                    4. Após 10 minutos, acrescente a canela em pó e o suco de limão.
                    5. Misture até chegar no ponto desejado.
                    6. Coloque em vidrinhos.
                    7. Bom apetite!.</p>
                    <h2>Valor Nutricional</h2>
                    <p>Calorias (valor energético)	39,60 kcal	1,98%
                      Carboidratos líquidos	9,52 g	-
                      O que são carboidratos líquidos?
                      Carboidratos líquidos são aqueles que o corpo consegue digerir e, geralmente, não incluem as fibras.
                      Descubra qual é a quantidade ideal de carboidratos líquidos que você deve consumir:
                      
                      DICAS NUTRICIONAIS GRATUITAS NO APP
                      Carboidratos	10,32 g	3,44%
                      Proteínas	0,52 g	0,17%
                      Gorduras totais	0,12 g	0,22%
                      Gorduras saturadas	0,00 g	0,00%
                      Fibra alimentar	0,80 g	3,20%
                      Sódio	0,00 mg	0,00%
                      (*) % Valores Diários de referência com base em uma dieta de 2.000 kcal ou 8400 kJ. Seus valores diários podem ser maiores ou menores dependendo de suas necessidades energéticas.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">!</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
         
         </main>
         
                </div>
              </form>      
             </div>
          </div>
        <h1>____'s Livro de Receitas</h1>
        
        <h2>Contents:</h2>
        
        <ol>
            <li><a href="?">Receita #1</a></li>
        </ol>
        
        <h2 id="?">Receita #1</h2>
        
        <ul>
            <li>Time: _</li>
            <li>Serves: _</li>
        </ul>
        
        <table>
            <thead>
                <tr>
                    <th>Ingredientes</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
        <p><strong>Passo 1:</strong> Do something.
</p>
        
    <p><em>Source: <a href="?">Some recipes websites</a></em></p>
    <a href="https://api.whatsapp.com/send?phone=5519999999999&text=Texto%20aqui"
    target="_blank" style="position:fixed;bottom:20px;right:30px;">
    <svg enable-background="new 0 0 512 512" class="img-fluid" width="50" height="50" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z" fill="#4CAF50"/><path d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z" fill="#FAFAFA"/></svg>
       </a>
       <footer class="w-100 mt-5 d-flex align-items-center justify-content-around">
        <div class="icons">
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook-square"></i>
        </div>
        <div class="texto1">
          Tutti - 2021 &copy; todos os direitos reservados
        </div>
        <div class="texto1">
          Desenvolvido por Team-5
        </div>
      </footer>
</body>
</html>